services:
  db:
    image: postgres:latest
    container_name: ${CONTAINER_NAME_DATABASE}
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:${POSTGRES_INTERNAL_PORT}"
    env_file:
      - .env
    volumes:
      - ${VOLUME_DB_DATA:-barber_shop_manager_db_data_dev}:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s
    networks:
      - barber_shop_manager_network

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: ${CONTAINER_NAME_APP}
    command: ./scripts/start-dev.sh
    ports:
      - "3333:3333"
    volumes:
      - ${VOLUME_APP_SOURCE:-./}:/usr/src/app
      - ${VOLUME_APP_NODE_MODULES:-barber_shop_manager_app_node_modules_dev}:/usr/src/app/node_modules
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - barber_shop_manager_network

volumes:
  barber_shop_manager_db_data_dev:
    driver: local
  barber_shop_manager_app_node_modules_dev:
    driver: local

networks:
  barber_shop_manager_network:
    external: true
