services:
  db:
    image: postgres:latest
    container_name: ${CONTAINER_NAME_DATABASE:-barber_shop_manager_backend_db}
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ${VOLUME_DB_DATA:-barber_shop_manager_db_data_prod}:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_EXTERNAL_PORT:-5434}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s
    networks:
      - barber_shop_manager_network

  app:
    image: ${REGISTRY:-docker.io}/${IMAGE_NAME:-elvisea/barber_shop_manager_backend}:${TAG:-latest}
    container_name: ${CONTAINER_NAME_APP:-barber_shop_manager_backend_app}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${PORT:-3333}:3333"
    depends_on:
      db:
        condition: service_healthy
    command: ./scripts/start-prod.sh
    networks:
      - barber_shop_manager_network

volumes:
  barber_shop_manager_db_data_prod:
    driver: local

networks:
  barber_shop_manager_network:
    external: true
